
element.style {
}
.flex-column {
    flex-direction: column !important;
}
.d-flex {
    display: flex !important;
}
body, .body {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.35px;
}
body {
    background-color: #ffffff;
}
body {
    -webkit-font-feature-settings: "ss06" 1, "ss07" 1, "liga", "kern";
    font-feature-settings: "ss06" 1, "ss07" 1, "liga", "kern";
    -webkit-font-smoothing: antialiased;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    font-family: "Graphik Dan Web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #00112C;
    text-align: left;
    background-color: #ffffff;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
:root {
    --blue: #1AAFD0;
    --indigo: #6610f2;
    --purple: #6A67CE;
    --pink: #e83e8c;
    --red: #FC636B;
    --orange: #fd7e14;
    --yellow: #FFB900;
    --green: #38E8B0;
    --teal: #1AAFD0;
    --cyan: #17a2b8;
    --white: #ffffff;
    --gray: #0D3259;
    --gray-dark: #002143;
    --primary: #1AAFD0;
    --secondary: #00112C;
    --success: #38E8B0;
    --info: #17a2b8;
    --warning: #FFB900;
    --danger: #FC636B;
    --light: #B6BFCC;
    --dark: #002143;
    --breakpoint-xs: 0;
    --breakpoint-md: 801px;
    --breakpoint-lg: 1077px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Graphik Dan Web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}